.dialog__form :is(select, textarea) {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

h1.dialog__heading {
  margin-top: 0;
}

.dialog__heading {
  font-weight: 900;
}

.dialog__label,
.dialog__compensation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.dialog__label + .dialog__label,
.dialog__compensations,
.dialog__compensation + .dialog__compensation {
  margin-top: 1rem;
}

.dialog__controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.dialog__compensation :is(input) {
  margin-left: auto;
  width: 50%;
}
